<div class="android-section">
    <h2><%= title %></h2>

    <div class="project-details">
        <div class="row">

        <!-- 1 ClicksPerSecond -->
        <div class="col-12 col-md-6">
          <div class="card mb-4">
            <div class="card-body">
              <div class="project-title">
                <h5 class="card-title">Clicks Per Second</h5>
              </div>
              <div class="project-category">
                <p class="card-text"><i class="bi bi-tag"></i>Android</p>
              </div>
              <div class="project-instruction">
                <h6 class="card-subtitle mb-2 text-muted">Instruction</h6>
                <p class="card-text">
                    Count number of taps one can do on android device
                </p>
                <a href="https://github.com/gdsc-gietu-open-source/ClicksPerSecond" class="btn btn-success">Go To Repository</a>
              </div>
  
              <div class="project-stack">
                <h4>Stack</h4>
                <ul class="list-group list-group-flush">
                  <li class="list-group-item stack-item">Kotlin</li>
                  <li class="list-group-item stack-item">XML</li>
                  
                </ul>
              </div>
            </div>
          </div>
        </div>
        
        <!-- 2 FitnessApplication -->
        <div class="col-12 col-md-6">
            <div class="card mb-4">
              <div class="card-body">
                <div class="project-title">
                  <h5 class="card-title">Fitness Application</h5>
                </div>
                <div class="project-category">
                  <p class="card-text"><i class="bi bi-tag"></i>Android</p>
                </div>
                <div class="project-instruction">
                  <h6 class="card-subtitle mb-2 text-muted">Instruction</h6>
                  <p class="card-text">
                      Check the fitness stats of an individual
                  </p>
                  <a href="https://github.com/gdsc-gietu-open-source/FitnessApplication" class="btn btn-success">Go To Repository</a>
                </div>
    
                <div class="project-stack">
                  <h4>Stack</h4>
                  <ul class="list-group list-group-flush">
                    <li class="list-group-item stack-item">Kotlin</li>
                    <li class="list-group-item stack-item">XML</li>
                    
                  </ul>
                </div>
              </div>
            </div>
        </div>

      <!-- 3 IntentActivity -->
      <div class="col-12 col-md-6">
        <div class="card mb-4">
          <div class="card-body">

            <div class="project-title">
              <h5 class="card-title">Intent Activity</h5>
            </div>
            <div class="project-category">
              <p class="card-text"><i class="bi bi-tag"></i>Android</p>
            </div>
            <div class="project-instruction">
              <h6 class="card-subtitle mb-2 text-muted">Instruction</h6>
              <p class="card-text">
                Basics of Android
              </p>
              <a href="https://github.com/gdsc-gietu-open-source/IntentActivity" class="btn btn-success">Go To Repository</a>
            </div>

            <div class="project-stack">
              <h4>Stack</h4>
              <ul class="list-group list-group-flush">
                <li class="list-group-item stack-item">Kotlin</li>
                <li class="list-group-item stack-item">XML</li>
                
              </ul>
            </div>

          </div>
        </div>
      </div>

    </div>
  </div>