<div class="cp-section">
  <h2><%= title %></h2>

  <div class="project-details">
      <div class="row">

      <div class="col-12 col-md-6">
        <div class="card mb-4">
          <div class="card-body">
            <div class="project-title">
              <h5 class="card-title">Infosint-Tool</h5>
            </div>
            <div class="project-category">
              <p class="card-text"><i class="bi bi-tag"></i>Cyber Security</p>
            </div>
            <div class="project-instruction">
              <h6 class="card-subtitle mb-2 text-muted">Instruction</h6>
              <p class="card-text">
                  Collection of useful CP resources
              </p>
              <a href="https://github.com/gdsc-gietu-open-source/Infosint-Tool" class="btn btn-success">Go To Repository</a>
            </div>

            <div class="project-stack">
              <h4>Stack</h4>
              <ul class="list-group list-group-flush">
                <li class="list-group-item stack-item">JAVA</li>
                <li class="list-group-item stack-item">C</li>
                <li class="list-group-item stack-item">C++</li>
                <li class="list-group-item stack-item">Python</li>
                
              </ul>
            </div>
          </div>
        </div>
      </div>

      <div class="col-12 col-md-6">
        <div class="card mb-4">
          <div class="card-body">
            <div class="project-title">
              <h5 class="card-title">CyberSecuirty</h5>
            </div>
            <div class="project-category">
              <p class="card-text"><i class="bi bi-tag"></i>Cyber Security</p>
            </div>
            <div class="project-instruction">
              <h6 class="card-subtitle mb-2 text-muted">Instruction</h6>
              <p class="card-text">
                  Collection of useful CP resources
              </p>
              <a href="https://github.com/gdsc-gietu-open-source/cybersecuirty" class="btn btn-success">Go To Repository</a>
            </div>

            <div class="project-stack">
              <h4>Stack</h4>
              <ul class="list-group list-group-flush">
                <li class="list-group-item stack-item">JAVA</li>
                <li class="list-group-item stack-item">C</li>
                <li class="list-group-item stack-item">C++</li>
                <li class="list-group-item stack-item">Python</li>
                
              </ul>
            </div>
          </div>
        </div>
      </div>
      </div>
  </div>
</div>