<div class="dataScience-section">
    <h2><%= title %></h2>

    <div class="project-details">
        <div class="row">

        <!-- 1 -->
        <div class="col-12 col-md-6">
          <div class="card mb-4">
            <div class="card-body">
              <div class="project-title">
                <h5 class="card-title">Fosil Project</h5>
              </div>
              <div class="project-category">
                <p class="card-text"><i class="bi bi-tag"></i>Data Science</p>
              </div>
              <div class="project-instruction">
                <h6 class="card-subtitle mb-2 text-muted">Instruction</h6>
                <p class="card-text">
                    Research on Fosil
                </p>
                <a href="https://github.com/gdsc-gietu-open-source/fosil-project" class="btn btn-success">Go To Repository</a>
              </div>
  
              <div class="project-stack">
                <h4>Stack</h4>
                <ul class="list-group list-group-flush">
                  <li class="list-group-item stack-item">JavaScript</li>
                  <li class="list-group-item stack-item">TeX</li>
                  <li class="list-group-item stack-item">R</li>
                  <li class="list-group-item stack-item">CSS</li>
                  
                </ul>
              </div>
            </div>
          </div>
        </div>
        </div>
    </div>
</div>