<section class="categories section">
    <div class="container">
        <div class="category-header">
            <div class="category-title">
                <h3 class="sub-heading">
                    GDSC
                </h3>
                <h1 class="heading">category</h1>
            </div>

            <div class="filter-btns">
                <button class="filter-btn">
                    All
                </button>
                <button class="filter-btn">Cloud</button>
                <button class="filter-btn">Web</button>
                <button class="filter-btn">Android</button>
                <button class="filter-btn">Data Science</button>
            </div>
        </div>

        <div class="category-gallery">
            <div class="mix cat-card projects">
                <div class="cat-image">
                    <img src="../img/OpenSourceDevelopmentTeam.jpg" alt="image">
                    <div class="cat-overlay">
                        <a href="#" class="cat-icon" style="--i:0.15s" target="_blank">
                            <i class="uil uil-link-h"></i>
                        </a>
                    </div>
                </div>
                <div class="cat-desc">
                    <h3>Web Development</h3>
                    <a href="#" class="btn secondary-btn sm" target="_blank">Explore</a>
                </div>
            </div>
        </div>
    </div>
</section>