<h1><%= typeof title != "undefined" ? title: "Web Development" %></h1>

<section class="categories section">
  <div class="container">
    <div class="category-gallery">
      <div class="mix cat-card">
        <div class="cat-image">
          <img src="../img/todo.jpg" alt="image" />
          <div class="cat-overlay">
            <a href="/details" class="cat-icon" style="--i: 0.15s" target="_blank">
              <i class="uil uil-link-h"></i>
            </a>
          </div>
        </div>
        <div class="cat-desc">
          <h3>To Do List</h3>
          <a href="#" class="btn secondary-btn" target="_blank">Explore</a>
        </div>
      </div>

      <div class="mix cat-card">
        <div class="cat-image">
          <img src="../img/blog.png" alt="image" />
          <div class="cat-overlay">
            <a href="#" class="cat-icon" style="--i: 0.15s" target="_blank">
              <i class="uil uil-link-h"></i>
            </a>
          </div>
        </div>
        <div class="cat-desc">
          <h3>Blog</h3>
          <a href="#" class="btn secondary-btn" target="_blank">Explore</a>
        </div>
      </div>
    </div>
  </div>
</section>
